secretKey.json
testing.ipynb
qdrantTest.ipynb
example_PDF
app/gfpgan/*
app/logs/*
app/results/*
app/temp/*
app/static/results/*
app/static/Retrievedimages/*
app/static/Audio/*
app/test/*
app/Libraries/VideoGen/gfpgan/*
app/Libraries/VideoGen/checkpoints/*
app/qdrant_local_storage/
app/Libraries/__pycache__/